In [1]:
import pandas as pd
import numpy as np

In [2]:
salary_train = pd.read_csv("F:/Data Science Assignments/Naive Bayes/SalaryData_Train.csv")
salary_test = pd.read_csv("F:/Data Science Assignments/Naive Bayes/SalaryData_Test.csv")

In [3]:
salary_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [4]:
string_columns = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

### Preprocessing the Data as there are categorical variables

In [5]:
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()

In [6]:
for i in string_columns:
    salary_train[i]= number.fit_transform(salary_train[i])
    salary_test[i]=number.fit_transform(salary_test[i])

### Capturing the column names which can help in futher process

In [7]:
colnames = salary_train.columns
colnames

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [8]:
len(colnames)

14

In [9]:
x_train = salary_train[colnames[0:13]]
y_train = salary_train[colnames[13]]
x_test = salary_test[colnames[0:13]]
y_test = salary_test[colnames[13]]

In [10]:
x_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,7,4,6,3,2,1,0,0,40,37
1,38,2,11,9,2,4,0,4,1,0,0,50,37
2,28,1,7,12,2,10,0,4,1,0,0,40,37
3,44,2,15,10,2,6,0,2,1,7688,0,40,37
4,34,2,0,6,4,7,1,4,1,0,0,30,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37
15056,39,2,9,13,0,9,1,4,0,0,0,36,37
15057,38,2,9,13,2,9,0,4,1,0,0,50,37
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37
15059,35,3,9,13,2,3,0,4,1,0,0,60,37

### Building Multinominal Navies Bayes

In [11]:
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [12]:
classifier_mb = MB()
classifier_mb.fit(x_train,y_train)

MultinomialNB()

In [13]:
pred_mb = classifier_mb.predict(x_train)
accuracy_mb_train = np.mean(pred_mb == y_train)

In [14]:
accuracy_mb_train

0.7729186698053778

In [15]:
pd.crosstab(pred_mb, y_train)

Salary   <=50K   >50K
row_0
 <=50K   21717   5913
 >50K      936   1595

### Now for test data

In [16]:
pred_mb_test = classifier_mb.predict(x_test)
accuracy_mb_test = np.mean(pred_mb_test == y_test)

In [17]:
accuracy_mb_test

0.7749667994687915

In [18]:
pd.crosstab(pred_mb_test, y_test)

Salary   <=50K   >50K
row_0
 <=50K   10891   2920
 >50K      469    780

### Building Gaussian Model

In [19]:
classifier_gb = GB()
classifier_gb.fit(x_train, y_train)
pred_gb = classifier_gb.predict(x_train)
accuracy_gb_train = np.mean(pred_gb == y_train)

In [20]:
accuracy_gb_train

0.7953317197705646

In [21]:
pd.crosstab(pred_gb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21505   5025
 >50K     1148   2483

In [23]:
##for test data now

In [24]:
pred_gb_train = classifier_gb.predict(x_test)
accuracy_gb_test = np.mean(pred_gb_train == y_test)

In [25]:
accuracy_gb_test

0.7946879150066402

In [26]:
pd.crosstab(pred_gb_train,y_test)

Salary   <=50K   >50K
row_0
 <=50K   10759   2491
 >50K      601   1209